.profile-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    margin-bottom: 20px;
  }
  
  .profile-avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 15px;
  }
  
  .profile-details h2 {
    margin: 0;
    font-size: 1.5em;
    color: #333;
  }
  
  .profile-details p {
    font-size: 1em;
    color: #666;
  }
  
  .profile-buttons .btn {
    margin: 5px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .profile-buttons .btn:hover {
    background-color: #0056b3;
  }
  
  .repository-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Exactly two columns */
    gap: 20px; /* Add space between items */
    margin-top: 20px;
    padding: 0;
    list-style-type: none;
  }
  
  .repository-item {
    display: flex;
    align-items: center;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .repository-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  .repository-avatar {
    flex-shrink: 0;
    margin-right: 15px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  
  .repository-link {
    text-decoration: none;
    color: inherit;
    flex-grow: 1;
  }
  
  .repository-details {
    text-align: left;
  }
  
  .repository-name {
    font-size: 1.1em;
    font-weight: bold;
    margin: 0 0 5px;
    color: #333;
  }
  
  .repository-description {
    font-size: 0.9em;
    color: #666;
  }
  @media (max-width: 768px) {
    .repository-list {
      grid-template-columns: 1fr; 
    }
  }
    